SD701_Mining/Projet/*/*
*.csv
INF714_Ethique/*
INF725_BD/*
*/.ipynb_checkpoints/*
MDI343_Machine_learning/*/*/*.py
MDI343_Machine_learning/*/*/*.pdf
MDI343_Machine_learning/*/*/*/*
INF728_NoSQL/*
Random/99b.txt