*.db
SD701_Mining/Projet/*/*
*.csv
*.zip
INF714_Ethique/*
INF725_BD/*
*/.ipynb_checkpoints/*
*.pyc
MDI343_Machine_learning/*/*/*.py
MDI343_Machine_learning/*/*/*.pdf
MDI343_Machine_learning/*/*/*.jpg
MDI343_Machine_learning/*/*/*/*
*.txt
*.tcp
*.tsv
*.dump
*.crfsuite
*.npy
*.json
*.geojson
MDI341_Machine_learning_advanced/*/*/*.pdf
MDI341_Machine_learning_advanced/*/*/*.py
MDI341_Machine_learning_advanced/*/*/*/*
MDI341_Machine_learning_advanced/Challenge/*
Random/*
IGR204_Visualization/Week2/*.png
IGR204_Visualization/Week2/.gitignore
*.step*
SES722_Econometrie/data/*